<div>
  <div [ngClass]="'header'">
    <div *ngIf="(courseName$ | async) as courseName">
      <span>{{ courseName }}</span>
      <span>{{ courseName }}</span>
    </div>
  </div>
  <div id="dashboard">
    <span
      ><mat-tab-group>
        <mat-tab label="preferences"
          ><app-preferences-shell></app-preferences-shell
        ></mat-tab>
        <mat-tab label="dashboard"
          ><app-dashboard-shell></app-dashboard-shell
        ></mat-tab>
        <mat-tab label="classroom"
          ><app-classroom-shell></app-classroom-shell
        ></mat-tab>
      </mat-tab-group>
    </span>
    <span></span>
  </div>
</div>
<!-- <router-outlet></router-outlet> -->
